<div class="bg">

  <div class="layout">


    <br>


    <nav>
      <ul>
        <li>

          <a routerLink="/chat">

            <span class="material-symbols-outlined">
              arrow_back
            </span>
          </a>

        </li>
        <li>
          <div class="user">
            <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" alt="Avatar"
              class="avatar">
            <div class="status"></div>
          </div>
        </li>

        <li>

          <pre>
  Jade
  Active now
              </pre>

        </li>

        <li>
          &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
          &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
          <span class="material-symbols-outlined">
            info
          </span>
        </li>

      </ul>
    </nav>
    
    




    <div class="card-container">



      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable">Hii.....</span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>




      <nav>
        <ul>
          <li>

            <div class = "you">
              <button class="button"> 
                <span class="lable">Hello</span>
              </button>
            </div>
        
            
          </li>
          <li>

      &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
          
          </li>
        </ul>
      </nav>

     

      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable"> are you </span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>
<br> 
      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable"> free now?</span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>




      <nav>
        <ul>
          <li>

            <div class = "you">
              <button class="button"> 
                <span class="lable">ya, any </span>
              </button>
            </div>
        
            
          </li>
          <li>

      &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
          
          </li>
        </ul>
      </nav>

      <br>

      
      <nav>
        <ul>
          <li>

            <div class = "you">
              <button class="button"> 
                <span class="lable">work?</span>
              </button>
            </div>
        
            
          </li>
          <li>

      &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
          
          </li>
        </ul>
      </nav>

     
      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable">ntg , i am</span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>

      <br> 

      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable">thinking to </span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>

      <br> 

      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable"> go out</span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>





      <nav>
        <ul>
          <li>

            <div class = "you">
              <button class="button"> 
                <span class="lable">ok</span>
              </button>
            </div>
        
            
          </li>
          <li>

      &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
          
          </li>
        </ul>
      </nav>


      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable"> are you </span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>

      <br>

      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable"> intrested to come?</span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>
     


      <nav>
        <ul>
          <li>

            <div class = "you">
              <button class="button"> 
                <span class="lable">ya, will go</span>
              </button>
            </div>
        
            
          </li>
          <li>

      &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
          
          </li>
        </ul>
      </nav>

      <br>

      <nav>
        <ul>
          <li>

            <div class = "you">
              <button class="button"> 
                <span class="lable">at which time?</span>
              </button>
            </div>
        
            
          </li>
          <li>

      &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
          
          </li>
        </ul>
      </nav>


      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable"> is it ok by evng 5?</span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>
     

      <nav>
        <ul>
          <li>

            <div class = "you">
              <button class="button"> 
                <span class="lable">ok done 👍</span>
              </button>
            </div>
        
            
          </li>
          <li>

      &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
          
          </li>
        </ul>
      </nav>


      <nav>
        <ul>
          <li>
   &nbsp;    <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" width="20" height="20">
          </li>
          <li>

            <div class = "me">
              <button class="button"> 
                <span class="lable">bye,see you👋</span>
              </button>
            </div>
          
          </li>
        </ul>
      </nav>












   





    </div>

    <div class="input-container">
      <div class="icon-container">
        <span class="material-symbols-outlined">
          photo_camera
          </span>
      </div>
      <input type="text" placeholder="Message.....">
      <div class="icon-container">
        <span class="material-symbols-outlined">
          mic
          </span>

          <span class="material-symbols-outlined">
            imagesmode
            </span>

            <span class="material-symbols-outlined">
              gif_box
              </span>
      </div>
    </div>
    

  </div>