<div class ="bg">

    <div class = "layout">
    
        
          <br>


          <nav>
            <ul>
              <li>
               
                <a routerLink = "/home">  
                
                <span class="material-symbols-outlined">
                    close
                    </span> &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; </a> 
              </li>
              <li> <p style="color: lightgrey; "><b> POST &nbsp;  &nbsp;  &nbsp; </b></p> </li>  
              <li> <p style="color: lightgrey; "><b> STORY &nbsp;  &nbsp;  &nbsp; </b></p> </li>
              <li> <p style="color: lightgrey; "><b> REEL </b></p></li>

            </ul>
          </nav>
<br>
          <nav>
            <ul>
              <li>
                
                <p style="color: lightgrey; "><b> &nbsp;  &nbsp; &nbsp; Gallery &nbsp;  &nbsp;  &nbsp; </b></p>
                 &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;   &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;   &nbsp;  &nbsp;  
                 &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;   &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; 
                  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
              </li>
              <li> <span class="material-symbols-outlined">
                photo_camera
                </span> </li>  
              
            </ul>
          </nav>
        
          <br>
    
        
          <div class="card-container">



           

            <div class="parent">
              <div class="div1"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/originals/e3/de/6a/e3de6a31e63d2a73a945d3c2325ebb66.gif" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div2">

                <div class="image-container">
                  <img src="https://casualclothingmenswear.files.wordpress.com/2017/05/menslife-style.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
      
              
              </div>
              <div class="div3">
                
                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/c0/6a/db/c06adb667c59dd296202de4c70284fcc--video-go-leave-me.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div4"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/d9/b0/2a/d9b02a882bfbf634e7f1f54f0b526626.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div5"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/550x/17/53/3a/17533aab656ac41ca8e299e9e5aaeae9.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    

              </div>
              <div class="div6"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/36/24/8a/36248a6ee4e310fe655953f1f481d01d.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div7"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/49/33/46/493346ba1a7d0a221b32ef5dcee570c8.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>    

              </div>
              <div class="div8">

                <div class="image-container">
                  <img src="https://i.pinimg.com/750x/b5/cf/2d/b5cf2d7c252f5b0e09ffa48a3fe140d5.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
         
              </div>
              <div class="div9"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/ed/9c/71/ed9c7136805cf51f854c69217651a3de.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div10">
                
                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/51/8c/e9/518ce94c7a253badddc90bcc3160ed5b.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
              </div>
              <div class="div11"> 

                <div class="image-container">
                  <img src="https://www.tasteofhome.com/wp-content/uploads/2021/05/tex-mex-GettyImages-656283118.jpg?fit=700,700" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div12">

                <div class="image-container">
                  <img src="https://i.pinimg.com/originals/c7/0a/59/c70a59bd16e26b01bac56904b05d6bbc.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
      
              </div>
              <div class="div13">

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/a2/c0/9a/a2c09a0dc9962b4d46ed5ce3765e2b17.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
      
              
              </div>
              <div class="div14"> 

                <div class="image-container">
                  <img src="https://wallpaper.dog/large/11018272.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    

              </div>
              <div class="div15"> 

                <div class="image-container">
                  <img src="https://lh5.googleusercontent.com/p/AF1QipMtlRci_xAkutr1xsNSkJHpyINyhcWmYnOQeAzA" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div16">
                
                <div class="image-container">
                  <img src="https://i.pinimg.com/170x/e1/ed/e4/e1ede480d0312629b52df06519b290f8.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    </div>
              <div class="div17"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/originals/5b/a2/f4/5ba2f4713b7007adf3a97f96ea03219c.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div18">
                
                <div class="image-container">
                  <img src="https://i.pinimg.com/564x/15/fd/b3/15fdb3e9f3b753c59c592faca790ac38.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div19">
                
                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/70/4a/bc/704abc1ad1aa6aa1d0cc5e670777b7ef.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    </div>
              <div class="div20">
                
                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/f5/32/c5/f532c5060950ab3d2c0a8e48044c3f04.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    </div>
              <div class="div21">
                
                <div class="image-container">
                  <img src="https://i.pinimg.com/564x/41/f3/1a/41f31a8d76c9665d7c6868c9254b1a5e.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    </div>
              <div class="div22"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/2e/ce/81/2ece81f4b5b8e8dd8e37d9fcf0cb8370.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div23"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/originals/33/7c/cb/337ccb0bbd6a3fbd3f6a45bfaf9c2027.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div24"> 

                <div class="image-container">
                  <img src="https://api.time.com/wp-content/uploads/2021/12/Anne-Helen-Petersen.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div25"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/236x/35/ae/8d/35ae8dd8ba6c3e974b1c6e77d40a0a28--summer-time-summer-fun.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div26"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/236x/c2/fe/3f/c2fe3fa33f8adc83133df34c4601cc78--dry-erase-markers-so-funny.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div27"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/originals/09/68/84/096884b350326f0661a82fcc4af067d4.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div28"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/d3/20/e3/d320e3f007a32862edd0d99a33137ae1.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div29"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/736x/b5/ea/f2/b5eaf2ee458fa2bac3ef2c1de911f0c5.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              <div class="div30"> 

                <div class="image-container">
                  <img src="https://i.pinimg.com/236x/cf/b9/d8/cfb9d8c89fc100a5bd2204a87fcf2f49.jpg" alt="Image" width="150" height="150">
                  <label class="checkbox-label">
                    <input type="checkbox" class="transparent-checkbox">
                    <span class="checkbox-custom"></span>
                  </label>
                </div>
    
              </div>
              </div>
            

          
    
    </div> 
    
    
    </div>