<div class="bg">

    <div class="layout">
  
  
      <br>
  
  
      <nav>
        <ul>
          <li>
  
            <a routerLink="/chat">
  
              <span class="material-symbols-outlined">
                arrow_back
              </span>
            </a>
  
          </li>
          <li>
            <div class="user">
              <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" alt="Avatar"
                class="avatar">
              <div class="status"></div>
            </div>
          </li>
  
          <li>
  
            <pre>
    Ava
    Active now
                </pre>
  
          </li>
  
          <li>
            &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            <span class="material-symbols-outlined">
              info
            </span>
          </li>
  
        </ul>
      </nav>
      
      
  
  
  
  
      <div class="card-container">
  
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">hello</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">Haii</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">my name is</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  <br> 
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ava</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">ok,how can i </span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">help u?</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">Iam paul's frnd</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br> 
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">I need small favour</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
       
  
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">tell me</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">can I get history</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">notes of last week?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">ya,sure</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">I will send it</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ohh thnks a lot</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">no mention👍</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">😇</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
  
  
  
  
  
  
  
  
     
  
  
  
  
  
      </div>
  
      <div class="input-container">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            photo_camera
            </span>
        </div>
        <input type="text" placeholder="Message.....">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            mic
            </span>
  
            <span class="material-symbols-outlined">
              imagesmode
              </span>
  
              <span class="material-symbols-outlined">
                gif_box
                </span>
        </div>
      </div>
      
  
    </div>