<div class="bg">

    <div class="layout">


        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <b> MR_TONY </b>&nbsp; <span class="material-symbols-outlined">
                        expand_more
                    </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </li>
                <li class="nav-item">

             <a routerLink = "/post">      <span class="material-symbols-outlined">
                        photo_camera
                    </span> </a> 
                    &nbsp; &nbsp; &nbsp; &nbsp;

                </li>
                <li class="nav-item">

                    <a routerLink = "/chat">          <span class="material-symbols-outlined">
                        send
                    </span> </a>
                    &nbsp; &nbsp; &nbsp; &nbsp;

                </li>

                <li class="nav-item">

          <a routerLink = "/proset">         <span class="material-symbols-outlined">
                        density_medium
                    </span> </a> 
                    &nbsp; &nbsp;

                </li>

            </ul>
        </nav>



        <div class="card-container">


            <br>


            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">

                        <div class="circle-image-container">
                            <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg"
                                alt="Circle Image" class="circle-image">
                            <div class="circle-overlay">
                                <span class="plus-symbol">+</span>
                            </div>
                        </div>



                    </li>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <li class="nav-item">


                        <p><b> &nbsp; &nbsp; &nbsp; &nbsp; 9 </b><br>
                            &nbsp; &nbsp; &nbsp; posts</p>

                    </li>
                    <li class="nav-item">

                        <p><b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 459k </b><br>
                            &nbsp; &nbsp; &nbsp; Followers</p>

                    </li>

                    <li class="nav-item">

                        <p><b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 563 </b><br>
                            &nbsp; &nbsp; &nbsp; Following</p>

                    </li>

                </ul>
            </nav>

            <br>


            <p><b> &nbsp; &nbsp; &nbsp; MR.TONY</b></p>
            <p><b> &nbsp; &nbsp; &nbsp; # Web Developer</b></p>
            <p><b> &nbsp; &nbsp; &nbsp; # Marvel Fan ⍟</b></p>





            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">

                        &nbsp; &nbsp;
                        <button> Edit Profile </button>

                    </li>


                    <li class="nav-item">

                        <button> Share Profile </button>

                    </li>
                    <li class="nav-item">

                        <div class="face">

                            <span class="material-symbols-outlined">
                                group
                            </span>
                        </div>


                    </li>

                </ul>
                <p><b>Story highlights</b></p>
            </nav>

            <br>

            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;
                        <a>
                            <span class="material-symbols-outlined">
                                grid_on
                            </span> </a>

                    </li>


                    <li class="nav-item">

                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;

                        <a routerLink = "/tag"> <span class="material-symbols-outlined">
                                assignment_ind
                            </span> </a>

                    </li>

                </ul>
                <hr>
            </nav>

            

            <div class="parent">
                <div class="div1">
           &nbsp;         <img src="https://i.pinimg.com/originals/4f/8d/6d/4f8d6d6625a35ac35fa08adad6aaa004.jpg" width="150"
                        height="150">

                </div>
                <div class="div2">

                    &nbsp;        <img src="https://i.pinimg.com/736x/17/05/e8/1705e84858f15ed0e2ec825aada509b6.jpg" width="150"
                        height="150">

                </div>
                <div class="div3">

                    &nbsp;         <img src="https://i.pinimg.com/236x/5c/06/43/5c064321aca3cff5f74641816afee19f.jpg" width="150"
                        height="150">
                </div>
                <div class="div4">

                    &nbsp;          <img src="https://i.pinimg.com/originals/bc/c7/b1/bcc7b1be03339deada69b73697f0e620.jpg" width="150"
                        height="150">
                </div>
                <div class="div5">
                    &nbsp;           <img src="https://www.pommietravels.com/wp-content/uploads/2015/07/Topdeck-Tour-e1437219211492.jpg" width="150"
                        height="150">
                </div>
                <div class="div6">
                    &nbsp;            <img src="https://www.indiaparenting.com/images/123/indore-games.jpg" width="150"
                        height="150">
                </div>
                <div class="div7">

                    &nbsp;           <img src="https://images.seattleschild.com/wp-content/uploads/2020/05/smores.jpg" width="150"
                        height="150">
                </div>
                <div class="div8">
                    &nbsp;             <img src="https://i.pinimg.com/564x/c8/39/e7/c839e77bbd02f763a96e1606bc3b77db.jpg" width="150"
                        height="150">
                </div>
                <div class="div9">
                    &nbsp;            <img src="https://i.pinimg.com/originals/d2/3f/62/d23f62cf2730f3800f7b8ce671603d33.jpg" width="150"
                        height="150">
                </div>
            </div>













            <!-- end     -->

        </div>


        <!-- <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
          <br> <br> <br> <br> <br> 
    
      -->






        <footer>
            <nav>
                <a routerLink="/home">

                    <span class="material-symbols-outlined">
                        home
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/search">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/post">
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/reel">
                    <span class="material-symbols-outlined">
                        slideshow
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/profile">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </a>

            </nav>

        </footer>


    </div>


</div>