<div class="bg">

    <div class="layout">


        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <b> MR_TONY </b>&nbsp; <span class="material-symbols-outlined">
                        expand_more
                    </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </li>
                <li class="nav-item">

             <a routerLink = "/post">      <span class="material-symbols-outlined">
                        photo_camera
                    </span> </a> 
                    &nbsp; &nbsp; &nbsp; &nbsp;

                </li>
                <li class="nav-item">

                    <a routerLink = "/chat">          <span class="material-symbols-outlined">
                        send
                    </span> </a>
                    &nbsp; &nbsp; &nbsp; &nbsp;

                </li>

                <li class="nav-item">

           <a routerLink = "/tagset">         <span class="material-symbols-outlined">
                        density_medium
                    </span> </a>
                    &nbsp; &nbsp;

                </li>

            </ul>
        </nav>



        <div class="card-container">


            <br>


            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">

                        <div class="circle-image-container">
                            <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg"
                                alt="Circle Image" class="circle-image">
                            <div class="circle-overlay">
                                <span class="plus-symbol">+</span>
                            </div>
                        </div>



                    </li>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <li class="nav-item">


                        <p><b> &nbsp; &nbsp; &nbsp; &nbsp; 9 </b><br>
                            &nbsp; &nbsp; &nbsp; posts</p>

                    </li>
                    <li class="nav-item">

                        <p><b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 459k </b><br>
                            &nbsp; &nbsp; &nbsp; Followers</p>

                    </li>

                    <li class="nav-item">

                        <p><b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 563 </b><br>
                            &nbsp; &nbsp; &nbsp; Following</p>

                    </li>

                </ul>
            </nav>

            <br>


            <p><b> &nbsp; &nbsp; &nbsp; MR.TONY</b></p>
            <p><b> &nbsp; &nbsp; &nbsp; # Web Developer</b></p>
            <p><b> &nbsp; &nbsp; &nbsp; # Marvel Fan ⍟</b></p>





            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">

                        &nbsp; &nbsp;
                        <button> Edit Profile </button>

                    </li>


                    <li class="nav-item">

                        <button> Share Profile </button>

                    </li>
                    <li class="nav-item">

                        <div class="face">

                            <span class="material-symbols-outlined">
                                group
                            </span>
                        </div>


                    </li>

                </ul>
                <p><b>Story highlights</b></p>
            </nav>

            <br>

            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;
                        <a routerLink = "/profile">
                            <span class="material-symbols-outlined">
                                grid_on
                            </span> </a>

                    </li>


                    <li class="nav-item">

                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;

                        <a > <span class="material-symbols-outlined">
                                assignment_ind
                            </span> </a>

                    </li>

                </ul>
                <hr>
            </nav>

            

            <div class="parent">
                <div class="div1">
           &nbsp;         <img src="https://i.pinimg.com/736x/96/e4/d1/96e4d105950de043b63ba2fbe83c4997.jpg" width="150"
                        height="150">

                </div>
                <div class="div2">

                    &nbsp;        <img src="https://i.pinimg.com/736x/a5/74/03/a57403ab1af64bedded31b288c4f46d6.jpg" width="150"
                        height="150">

                </div>
                <div class="div3">

                    &nbsp;         <img src="https://i.pinimg.com/550x/eb/bf/8e/ebbf8edbb54adb215484502b06c884ba.jpg" width="150"
                        height="150">
                </div>
                <div class="div4">

                    &nbsp;          <img src="https://i.pinimg.com/736x/ec/b6/03/ecb6032079a6c4ea183e45b71995401e.jpg" width="150"
                        height="150">
                </div>
                <div class="div5">
                    &nbsp;           <img src="https://i.pinimg.com/originals/21/c0/65/21c065d39b877a006a834a202c73458b.jpg" width="150"
                        height="150">
                </div>
                
            </div>













            <!-- end     -->

        </div>


        
        <div class="rectangle" [style.width.px]="width" [style.height.px]="height">
            <!-- Content inside the rectangle -->


           <div class = "one">

            <br>
         <a routerLink = "/tag">   <span class="material-symbols-outlined">
                close
                </span> </a>

                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="material-symbols-outlined">
                                settings
                                </span>  
                        </li>   
                        <li class="nav-item">
                            <p><b>Settings</b></p>
                        </li>   
                    </ul>
                </nav>
    
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="material-symbols-outlined">
                                swap_vertical_circle
                                </span>  
                        </li>   
                        <li class="nav-item">
                            <p><b>Mobile data saving</b></p>
                        </li>   
                    </ul>
                </nav>
    

                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="material-symbols-outlined">
                                history
                                </span>
                        </li>   
                        <li class="nav-item">
                            <p><b>Archive</b></p>
                        </li>   
                    </ul>
                </nav>

                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="material-symbols-outlined">
                                bookmark
                                </span>
                        </li>   
                        <li class="nav-item">
                            <p><b>Saved</b></p>
                        </li>   
                    </ul>
                </nav>
    
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="material-symbols-outlined">
                                density_medium
                                </span>
                        </li>   
                        <li class="nav-item">
                            <p><b>Close Friends</b></p>
                        </li>   
                    </ul>
                </nav>

                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="material-symbols-outlined">
                                person_add
                                </span>
                        </li>   
                        <li class="nav-item">
                            <p><b>Discover People</b></p>
                        </li>   
                    </ul>
                </nav>

                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="material-symbols-outlined">
                                warning
                                </span>
                        </li>   
                        <li class="nav-item">
                            <p><b>Report a Problem</b></p>
                        </li>   
                    </ul>
                </nav>
    
            </div> 

          
             
                  


                

          </div>
          


        <!-- <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
          <br> <br> <br> <br> <br> 
    
      -->






        <!-- <footer>
            <nav>
                <a routerLink="/home">

                    <span class="material-symbols-outlined">
                        home
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/search">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/post">
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/reel">
                    <span class="material-symbols-outlined">
                        slideshow
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/profile">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </a>

            </nav>

        </footer> -->


       


    </div>


</div>