<div class="bg">

    <div class="layout">
  
  
      <br>
  
  
      <nav>
        <ul>
          <li>
  
            <a routerLink="/chat">
  
              <span class="material-symbols-outlined">
                arrow_back
              </span>
            </a>
  
          </li>
          <li>
            <div class="user">
              <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" alt="Avatar"
                class="avatar">
              <div class="status"></div>
            </div>
          </li>
  
          <li>
  
            <pre>
    Richard
    Active now
                </pre>
  
          </li>
  
          <li>
            &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            <span class="material-symbols-outlined">
              info
            </span>
          </li>
  
        </ul>
      </nav>
      
      
  
  
  
  
      <div class="card-container">
  
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">happy birth day</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">tq buddy..</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">what's plan</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  <br> 
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">today?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">planning for</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">the party</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">cool</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br> 
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">super</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
       
  
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">come by evng 6</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">at what</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">place</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">in home</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">not outside</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ok great</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">don't forgot</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ya, sure man</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
  
  
  
  
  
  
  
  
     
  
  
  
  
  
      </div>
  
      <div class="input-container">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            photo_camera
            </span>
        </div>
        <input type="text" placeholder="Message.....">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            mic
            </span>
  
            <span class="material-symbols-outlined">
              imagesmode
              </span>
  
              <span class="material-symbols-outlined">
                gif_box
                </span>
        </div>
      </div>
      
  