<div class="bg">

    <div class="layout">
  
  
      <br>
  
  
      <nav>
        <ul>
          <li>
  
            <a routerLink="/chat">
  
              <span class="material-symbols-outlined">
                arrow_back
              </span>
            </a>
  
          </li>
          <li>
            <div class="user">
              <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" alt="Avatar"
                class="avatar">
              <div class="status"></div>
            </div>
          </li>
  
          <li>
  
            <pre>
    Clara
    Active now
                </pre>
  
          </li>
  
          <li>
            &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            <span class="material-symbols-outlined">
              info
            </span>
          </li>
  
        </ul>
      </nav>
      
      
  
  
  
  
      <div class="card-container">
  
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">Tony</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">hye tell me</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">can I get</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  <br> 
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">jade number</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">is it</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">important now</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">yes </span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br> 
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">is there any issue?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
       
  
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">ya</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">what is </span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">it?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">my phone battery</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">is low</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">then, send later</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">ya ok sure</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ya done</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
  
  
  
  
  
  
  
  
     
  
  
  
  
  
      </div>
  
      <div class="input-container">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            photo_camera
            </span>
        </div>
        <input type="text" placeholder="Message.....">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            mic
            </span>
  
            <span class="material-symbols-outlined">
              imagesmode
              </span>
  
              <span class="material-symbols-outlined">
                gif_box
                </span>
        </div>
      </div>
      
  
    </div>