.layout{
    background-color: black;
    height: 710px;
    width: 500px;
    margin-left: 490px;
    
}

.form button {
    border: none;
    background: none;
    color: #8b8ba796;
  }
  /* styling of whole input container */
  .form {
    margin-left: 5px;
    --timing: 0.3s;
    --width-of-input: 445px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #1d1212;
    /* --border-color: #2f2ee9; */
    --border-radius: 10px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: 10px;
    transition: border-radius 0.5s ease;
    background: #cecbcb;
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
    color: #000;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
    color: #000;
    font-weight: bold;
  }


  nav {
    width: 100%;
    height: 40px; /* Adjust the height as desired */
    background-color: black;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Add any additional styles here */
  

  
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  font-size: xx-large;
  color: white;
  /* margin-bottom: 30px; */
  
}

/* .logo{
    margin-bottom: 10px;
} */

.card {
    width: 483px;
    height: 465px;
    background: rgb(38, 38, 38);
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
  }
  
  .imge {
    height: 70px;
    background-color: #ff5858;
  }
  
  .imge .Usericon {
    background-color: #414141;
    transform: translateX(10px) translateY(10px);
    width: 50px;
    height: 50px;
    border-radius: 30px;
  }
  
  .imge .UserName {
    background-color: #414141;
    width: 60px;
    height: 15px;
    border-width: 10px;
    border-radius: 5px;
    border-color: #262626;
    color: #262626;
    font-size: 15px;
    font-weight: bold;
    transform: translateX(70px) translateY(-35px);
  }
  
  .imge .Id {
    background-color: #414141;
    width: 100px;
    height: 15px;
    border-width: 10px;
    border-radius: 5px;
    border-color: #262626;
    color: #262626;
    font-size: 15px;
    font-weight: bold;
    transform: translateX(70px) translateY(-25px);
  }
  
  .Description {
    border-color: #141414;
    background-color: #414141;
    transform: translate(5px, 6px);
    width: 478px;
    height: 330px;
    border-radius: 5px;
  }
  
  /*______Social Media______*/
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    transform: translatey(10px);
    background: white;
  }
  
  .social-media a {
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    color: #ff5858;
    transform: translatex(25px) translateY(20px);
    width: 20px;
    fill: currentColor;
  }


  .card-container {
    width: 100%;
    height: 560px; /* Set a fixed height to enable scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */
  }

  ::-webkit-scrollbar {
    width: 10px;
    width:4w;
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
    
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: 1px  black; 
    border-radius: 30px; 
   
    width: 0.5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
 
  
  .card {
    background-color: white;
    /* padding: 20px; */
    /* margin-bottom: 10px; */
  }
  

 


    /* img {
        border-radius: 50%;
      } */

      .avatar {
         /* vertical-align: middle; */
        width: 40px;
        height: 40px;
        border-radius: 120%;
        overflow: hidden;
        padding: 3px;
        /* background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%); */
        
      }


      .scroll-container {
        overflow-x: scroll;
        width: 100%;
        white-space: nowrap;
        
      }
      
      .scroll-content {
        display: inline-block;
      }

      
      .item {
        display: inline-block;
        /* width: 200px;
        height: 200px; */
        background-color: white;
        margin-right: 10px;
      }
      
      .bg{
        background-color: lightgray;
      }

      .post{
        width: 91%;
        height: auto;
        background: #fff;
        /* border: 3px solid #dfdfdf; */
        /* margin-top: 40px; */
    }
    
    .info{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .info .username{
        width: auto;
        font-weight: bold;
        color: #000;
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    .info .options{
        height: 10px;
        cursor: pointer;
    }
    
    .info .user{
        display: flex;
        align-items: center;
    }
    
    .info .profile-pic{
        height: 40px;
        width: 40px;
        padding: 0;
        background: none;
    }
    
    .info .profile-pic img{
        border: none;
    }
    
    .post-image{
        width: 110%;
        height: 500px;
        object-fit: cover;
    }
    
    .post-content{
        width: 100%;
        padding: 20px;
    }
    
    .likes{
        font-weight: bold;
    }
    
    .description{
        margin: 10px 0;
        font-size: 14px;
        line-height: 20px;
    }
    
    .description span{
        font-weight: bold;
        margin-right: 10px;
    }
    
    .post-time{
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
    }
    
    .comment-wrapper{
        width: 100%;
        height: 50px;
        border-radius: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .comment-wrapper .icon{
        height: 30px;
    }
    
    .comment-box{
        width: 80%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
    }
    
    .comment-btn,
    .action-btn{
        width: 70px;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        text-transform: capitalize;
        font-size: 16px;
        color: #17acd1;
        /* opacity: 0.5; */
    }
    
    .reaction-wrapper{
        width: 100%;
        height: 50px;
        display: flex;
        margin-top: -20px;
        align-items: center;
        
    }
    
    .reaction-wrapper .icon{
        height: 25px;
        margin: 0;
        margin-right: 20px;

    }
    
    .reaction-wrapper .icon.save{
        margin-left: auto;
    }


    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    .container {
      display: block;
      position: relative;
      cursor: pointer;
      user-select: none;
    }
    
    .container svg {
      position: relative;
      top: 0;
      left: 0;
      height: 35px;
      width: 35px;
      transition: all 0.3s;
      fill: #666;
      
    }
    
    .container svg:hover {
      transform: scale(1.1);
    }
    
    .container input:checked ~ svg {
      fill: #E3474F;
    }
    
     


      iframe{
        width: 150px;
        height: 248px;
      }

    
       


          
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
  
}




.image-container {
  position: relative;
  display: inline-block;
}

.checkbox-label {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  
}

.transparent-checkbox {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
 
}

.checkbox-custom {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
  border: 1px solid #999;
}

.checkbox-custom::after {
  content: '';
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(8, 144, 197, 0.842);
}

.transparent-checkbox:checked ~ .checkbox-custom::after {
  display: block;
  
}



.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 2 / 1 / 3 / 2; }
  .div5 { grid-area: 2 / 2 / 3 / 3; }
  .div6 { grid-area: 2 / 3 / 3 / 4; }
  .div7 { grid-area: 3 / 1 / 4 / 2; }
  .div8 { grid-area: 3 / 2 / 4 / 3; }
  .div9 { grid-area: 3 / 3 / 4 / 4; }
  .div10 { grid-area: 4 / 1 / 5 / 2; }
  .div11 { grid-area: 4 / 2 / 5 / 3; }
  .div12 { grid-area: 4 / 3 / 5 / 4; }
  .div13 { grid-area: 5 / 1 / 6 / 2; }
  .div14 { grid-area: 5 / 2 / 6 / 3; }
  .div15 { grid-area: 5 / 3 / 6 / 4; }
  .div16 { grid-area: 6 / 1 / 7 / 2; }
  .div17 { grid-area: 6 / 2 / 7 / 3; }
  .div18 { grid-area: 6 / 3 / 7 / 4; }
  .div19 { grid-area: 7 / 1 / 8 / 2; }
  .div20 { grid-area: 7 / 2 / 8 / 3; }
  .div21 { grid-area: 7 / 3 / 8 / 4; }
  .div22 { grid-area: 8 / 1 / 9 / 2; }
  .div23 { grid-area: 8 / 2 / 9 / 3; }
  .div24 { grid-area: 8 / 3 / 9 / 4; }
  .div25 { grid-area: 9 / 1 / 10 / 2; }
  .div26 { grid-area: 9 / 2 / 10 / 3; }
  .div27 { grid-area: 9 / 3 / 10 / 4; }
  .div28 { grid-area: 10 / 1 / 11 / 2; }
  .div29 { grid-area: 10 / 2 / 11 / 3; }
  .div30 { grid-area: 10 / 3 / 11 / 4; }

  .loader {
    width: 90%;
    height: 5px;
    border-radius: 2px;
    background-color: gray;
    position: absolute;
  }

  .loader::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    height: 100%;
    border-radius: 2px;
    animation: load 20.5s ease-in-out infinite;
    box-shadow: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  @keyframes load {
    50% {
      width: 100%;
    }
  
    100% {
      right: 0;
      left: unset;
    }
  }




  .search-bar {
    width: 350px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: black;
    color: white;
  }
  