<div class ="bg">

    <div class = "layout">
    
        <nav>
            <ul>
              
               <li> <a routerLink = "/home"> <span class="material-symbols-outlined">
                west
                </span> </a> </li> 
              <li> <h2> Direct </h2> </li>
              &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
              &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
              &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  
              
              <li> <span class="material-symbols-outlined">
                edit_square
                </span> </li> 
            </ul>

           

          </nav>
          
        
          <div class="card-container">


            <br>

            <form class="form">
                <button>
                    <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                        <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <input class="input" placeholder="Search" required="" type="text">
                <button class="reset" type="reset">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </form>

            <br>
           
                <div class="scroll-container">
                    
                    <div class="scroll-content">

                                        
                      <div class="item">

                        &nbsp;

                        <div class="user">
                            <img src="https://i.pinimg.com/736x/f3/07/06/f30706ed5203e50201d9655716176fc8.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Patrick </b></p>
                      </div>
                      
                      <div class="item">
                       

                        <div class="user">
                            <img src="https://cutewallpaper.org/22/instagram-profile-wallpapers/1109717368.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Paul </b></p>

                      </div>

                      <div class="item">

                        <div class="user">
                            <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Frank </b></p>
                       

                      </div>
                      <div class="item">

                        <div class="user">
                            <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Richard </b></p>  

                      </div>
                      <div class="item">

                        <div class="user">
                            <img src="https://i.pinimg.com/236x/1d/b6/53/1db65324304461f289657fe3c4f59544.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Amelia </b></p>  

                       
                      </div>
                      <div class="item">

                        <div class="user">
                            <img src="https://w0.peakpx.com/wallpaper/941/626/HD-wallpaper-beauty-face-model-lady.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Ethan </b></p>  

                       
                      </div>
                      <div class="item">

                        <div class="user">
                            <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Rose </b></p> 
                       
                      </div>
                      <div class="item">

                        <div class="user">
                            <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Ava </b></p> 
                        
                      </div>
                      <div class="item">

                        <div class="user">
                            <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Clara </b></p>
                        
                      </div>
                      <div class="item">

                        <div class="user">
                            <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg" alt="User Image" class="user-image">
                            <div class="status"></div>
                          </div>
                          
                    <p> <b>  &nbsp;  &nbsp; Jade </b></p>
                        
                      </div>
                    </div>
                  </div> 


                  <div class="parent">
                    <div class="div1">
                        <p><b> &nbsp; Messages</b></p>
                         </div>
                         
                    </div>
                  
                  <br>
                  <br> <br>
                 
<a routerLink = "/jadechat">              <div class="user">
                    <div class="user-image">
                      <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Jade</h4>
                      <p style="color: gray">Sent a message. 3m</p>
                    </div>
                  </div> </a>


                  <br>
                 
                  <a routerLink = "/paulchat">                  <div class="user">
                    <div class="user-image">
                      <img src="https://cutewallpaper.org/22/instagram-profile-wallpapers/1109717368.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Paul</h4>
                      <p style="color: gray">3 new messages. 7m</p>
                    </div>
                  </div> </a>


                  
                  <br>
                 
                  <a routerLink = "/avachat">        <div class="user">
                    <div class="user-image">
                      <img src="https://i.pinimg.com/originals/e7/92/03/e792037f6abbee2bc7511321bedb8137.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Ava</h4>
                      <p style="color: gray">Sent a message. 1h</p>
                    </div>
                  </div> </a>


                  <br>
                 
                  <a routerLink = "/patrickchat">     <div class="user">
                    <div class="user-image">
                      <img src="https://i.pinimg.com/736x/f3/07/06/f30706ed5203e50201d9655716176fc8.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Patrick</h4>
                      <p style="color: gray">ya ok 2h</p>
                    </div>
                  </div> </a>

                  <br>
                 
                  <a routerLink = "/clarachat">   <div class="user">
                    <div class="user-image">
                      <img src="https://rare-gallery.com/uploads/posts/4574079-women-model-clara-alonso-brunette-face-long-hair.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Clara</h4>
                      <p style="color: gray">5 new messages. 4h</p>
                    </div>
                  </div> </a>

                  <br>
                 
                  <a routerLink = "/frankchat">      <div class="user">
                    <div class="user-image">
                      <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Frank</h4>
                      <p style="color: gray">bye 5h</p>
                    </div>
                  </div> </a>

                  <br>
                 
                  <a routerLink = "/rosechat">           <div class="user">
                    <div class="user-image">
                      <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Rose</h4>
                      <p style="color: gray">2 new messages. 1d</p>
                    </div>
                  </div> </a>


                  <br>
                 
                  <a routerLink = "/richard">             <div class="user">
                    <div class="user-image">
                      <img src="https://i.pinimg.com/1200x/cf/ed/a0/cfeda0883133409766bbad5a28d4752e.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Richard</h4>
                      <p style="color: gray">5 new messages. 3d</p>
                    </div>
                  </div></a>


                  <br>
                 
                  <a routerLink = "/ethanchat">         <div class="user">
                    <div class="user-image">
                      <img src="https://w0.peakpx.com/wallpaper/941/626/HD-wallpaper-beauty-face-model-lady.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Ethan</h4>
                      <p style="color: gray">ok bye. 2w</p>
                    </div>
                  </div> </a>


                  <br>
                 
                  <a routerLink = "/ameliachat">        <div class="user">
                    <div class="user-image">
                      <img src="https://i.pinimg.com/236x/1d/b6/53/1db65324304461f289657fe3c4f59544.jpg"  alt="Avatar" class="avatar">
                    </div>
                    <div class="user-content">
                      <h4>Amelia</h4>
                      <p style="color: gray">See you soon. 3w</p>
                    </div>
                  </div> </a>

                 
                 
                  
    
    
    
    
   
    
            
         
          
          </div>
          
    
    </div> 
    
    
    </div>
