<div class="bg">

    <div class="layout">
  
  
      <br>
  
  
      <nav>
        <ul>
          <li>
  
            <a routerLink="/chat">
  
              <span class="material-symbols-outlined">
                arrow_back
              </span>
            </a>
  
          </li>
          <li>
            <div class="user">
              <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" alt="Avatar"
                class="avatar">
              <div class="status"></div>
            </div>
          </li>
  
          <li>
  
            <pre>
    Rose
    Active now
                </pre>
  
          </li>
  
          <li>
            &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            <span class="material-symbols-outlined">
              info
            </span>
          </li>
  
        </ul>
      </nav>
      
      
  
  
  
  
      <div class="card-container">
  
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">hye tony</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">hye what's matter?</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">is your laptop</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  <br> 
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">with you?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">yes, why?</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">you need it?</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ya yes</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br> 
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">today I have exam</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
       
  
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">at what time..</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">1:30pm</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">can I get it?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">ya ok, come by </span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">11:00am today</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ok done</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">bye</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://pbs.twimg.com/profile_images/1215407245367873539/_ZWvH4jc_400x400.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ha </span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
  
  
  
  
  
  
  
  
     
  
  
  
  
  
      </div>
  
      <div class="input-container">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            photo_camera
            </span>
        </div>
        <input type="text" placeholder="Message.....">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            mic
            </span>
  
            <span class="material-symbols-outlined">
              imagesmode
              </span>
  
              <span class="material-symbols-outlined">
                gif_box
                </span>
        </div>
      </div>
      
  