<div class="bg">

    <div class="layout">


        <nav>
            <ul>
                <li>
                    <h3 style="color: lightgrey; "><b> Reels &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        </b></h3>


                </li>
                <li> <span class="material-symbols-outlined">
                        volume_up
                    </span> &nbsp; &nbsp; </li>
                <li> <span class="material-symbols-outlined">
                        photo_camera
                    </span> </li>


            </ul>
        </nav>




        <div class="card-container">





            <div class="parent">
                <div class="div1">

                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vCbINt5auv8?rel=0"></iframe> 

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/UB9khkFukkk?rel=0"></iframe>


                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/AobgR2_nyUc?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/vTTfozLf-Kk?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/klKEEs6J3nU?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/0GRUhhKZJUE?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/yJAgpD6mFsA?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/ltyeIdpsxzY?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/su_PFj_jLJE?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/DQCzdINSRD0?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/pRf2JHw9LQg?rel=0"></iframe>

                    <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/GfzCwXAbaN8?rel=0"></iframe>



                </div>



                <div class="div2">

                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>17.5k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>




                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>12k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>



                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>5k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>


                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>13.7k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>



                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>6.2k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>




                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>25.6k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>


                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>19.7k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>


                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>5.8k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>



                     <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>17k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>



                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>8.6k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>



                     <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>9.4k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>



                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <label class="container">
                        <input type="checkbox">
                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                            </path>
                        </svg>
                    </label>

                    <p style="color: white;"><b>35.8k</b></p>

                    &nbsp; &nbsp; &nbsp;


                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        send
                    </span>

                    &nbsp; &nbsp; &nbsp;

                    <span class="material-symbols-outlined">
                        more_vert
                    </span>






                </div>
            </div>








        </div>
        <!-- end     -->




        <!-- <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
          <br> <br> <br> <br> <br> 
    
      -->






        <footer>
            <nav>
                <a routerLink="/home">

                    <span class="material-symbols-outlined">
                        home
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/search">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/post">
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/reel">
                    <span class="material-symbols-outlined">
                        slideshow
                    </span>
                </a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                <a routerLink="/profile">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </a>

            </nav>

        </footer>


    </div>


</div>