<div class="bg">

    <div class="layout">
  
  
      <br>
  
  
      <nav>
        <ul>
          <li>
  
            <a routerLink="/chat">
  
              <span class="material-symbols-outlined">
                arrow_back
              </span>
            </a>
  
          </li>
          <li>
            <div class="user">
              <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" alt="Avatar"
                class="avatar">
              <div class="status"></div>
            </div>
          </li>
  
          <li>
  
            <pre>
    Frank
    Active now
                </pre>
  
          </li>
  
          <li>
            &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
            <span class="material-symbols-outlined">
              info
            </span>
          </li>
  
        </ul>
      </nav>
      
      
  
  
  
  
      <div class="card-container">
  
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">hye dude</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">ha what?</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">are you free</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  <br> 
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">today evng?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">hmmm yes, y?</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">movie?</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
       
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">at what</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br> 
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">time?</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
       
  
  
  
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">6:30 sharp</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ok, I will</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">come</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">cool</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
        <br>
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">be on time</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">ha sure</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
       
  
        <nav>
          <ul>
            <li>
  
              <div class = "you">
                <button class="button"> 
                  <span class="lable">ok then,bye</span>
                </button>
              </div>
          
              
            </li>
            <li>
  
        &nbsp; <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" width="20" height="20">  &nbsp;
            
            </li>
          </ul>
        </nav>
  
  
        <nav>
          <ul>
            <li>
     &nbsp;    <img src="https://i.pinimg.com/originals/8f/c6/a3/8fc6a31b3ceac97d3330a9bbc9cafc79.jpg" width="20" height="20">
            </li>
            <li>
  
              <div class = "me">
                <button class="button"> 
                  <span class="lable">bye</span>
                </button>
              </div>
            
            </li>
          </ul>
        </nav>
  
  
  
  
  
  
  
  
  
  
  
  
     
  
  
  
  
  
      </div>
  
      <div class="input-container">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            photo_camera
            </span>
        </div>
        <input type="text" placeholder="Message.....">
        <div class="icon-container">
          <span class="material-symbols-outlined">
            mic
            </span>
  
            <span class="material-symbols-outlined">
              imagesmode
              </span>
  
              <span class="material-symbols-outlined">
                gif_box
                </span>
        </div>
      </div>
      
  
    </div>